services:
  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    networks:
      - app-network
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
      target: development
    environment:
      - VITE_API_URL=http://localhost:8000
      - VITE_PROXY_TARGET=http://backend:8000
    networks:
      - app-network
    ports:
      - "5173:5173"

networks:
  app-network:
    driver: bridge
