services:
  backend:
    build: ./backend
    image: pipe-dream-backend:v1.0
    container_name: backend
    env_file:
      - .env
    volumes:
      - ./backend:/app
    networks:
      - app-network
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
      target: development
      args:
        VITE_API_KEY: ${VITE_API_KEY}
    image: pipe-dream-frontend:v1.0
    container_name: frontend
    environment:
      - VITE_API_URL=http://localhost:8000
      - VITE_PROXY_TARGET=http://backend:8000
    networks:
      - app-network
    ports:
      - "5173:5173"

networks:
  app-network:
    driver: bridge
