services:
  backend:
    build: ./backend
    image: pipe-dream-backend:v1.0
    container_name: backend
    env_file:
      - .env
    volumes:
      - ./backend:/app
    networks:
      - app-network

  nginx:
    build:
      context: .
      dockerfile: Dockerfile
      target: nginx
      args:
        VITE_API_KEY: ${VITE_API_KEY}
    image: pipe-dream-nginx:v1.0
    container_name: nginx
    depends_on:
      - backend
    networks:
      - app-network

  cloudflared:
    image: cloudflare/cloudflared
    container_name: cloudflared
    command: tunnel --url nginx:80
    depends_on:
      - nginx
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
